{% extends "sprofile.html" %}
{% block stylesheets %}
<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<link href="/static/css/feed.css" rel="stylesheet" type="text/css">
<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% block friends %}
<p>You got it!</p>
<a href="/accounts/">Friend requests</a>
{% endblock%}

