<!DOCTYPE html>
<html lang='en'>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Education Network is the network of counselors and schools">
<meta name="author" content="Nxt4">
{% load static from staticfiles %}
{% block stylesheets %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <link href="/static/css/feed.css" rel="stylesheet" type="text/css">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    {% endblock %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://js.addthisevent.com/atemay.js"></script>
    <script type="text/javascript">
addthisevent.settings({
mouse    : false,
css      : true,
google   : {show:true, text:"Google Calender"},
yahoo    : {show:true, text:"Yahoo Calender"},
dropdown : {order:"google,yahoo"},
callback : "",
});
    </script>
    <script type="text/javascript">
$(document).ready(function()
        {
        var navItems = $('.admin-menu li > a');
        var navListItems = $('.admin-menu li');
        var allWells = $('.admin-content');
        var allWellsExceptFirst = $('.admin-content:not(:first)');

        allWellsExceptFirst.hide();
        navItems.click(function(e)
            {
            e.preventDefault();
            navListItems.removeClass('active');
            $(this).closest('li').addClass('active');

            allWells.hide();
            var target = $(this).attr('data-target-id');
            $('#' + target).show();
            });
        });
    </script>
    <script type="text/javascript">
$(function(){
        var hash = window.location.hash;
        hash && $('ul.nav a[href="' + hash + '"]').tab('show');

        $('.nav-tabs a').click(function (e) {
            $(this).tab('show');
            var scrollmem = $('body').scrollTop();
            window.location.hash = this.hash;
            $('html,body').scrollTop(scrollmem);
            });
        });
    </script>
    <!-- Navigation -->
    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/static/img/nxt.jpg" alt="Nxt4"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <form class="navbar-form navbar-right" action="/accounts/profile/search/" method="get">
     <input type="search" class="form-control" results=5 name="q" placeholder="Search">
  <button type="submit" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-search"></i></button>
        </form>
     <div class="logsout">
     <a href="/logout/"><span class="fa fa-power-off"></span></a>
     </div>
            </div>
            <!-- navbar-collapse -->
        </div>
        <!-- container-->
    </nav>
    {% block content %}
    <header>
        <div class="container">
            <div class="pp">
                <!--Profile pic from the nstudenttable-->
            </div><!--pp-->
            <div class="pc">  
         <!--Profile card data from the user table-->                         
         {% if user.is_authenticated %}
               <p> {{ user.first_name }}{{ user.last_name}}</p>
               {% if user.category == "C" %}
               Counselor at {{ user.profile.school_name }}<br>
               {% else %}  
               {{user.profile.year_in_school}} at {{ user.profile.school_name }}<br>
              {% endif %}   
              Born on {{ user.profile.birth_date }}<br>
              {{ user.profile.graduation_year }}<br>
              {% endif %}
            </div><!--pc-->
          <button class="btn btn-default cal"><a href="https://google.com/calender" title="Add to Calendar" class="addthisevent">My Calender</a></button>
            <span class="_start"></span>
            <span class="_end"></span>
            <span class="_zonecode">35</span>
            <span class="_summary"></span>
            <span class="_description"></span>
            <span class="_location"></span>
            <span class="_organizer"></span>
            <span class="_organizer_email"></span>
            <span class="_facebook_event"></span>
            <span class="_all_day_event">true</span>
            <span class="_date_format">DD/MM/YYYY</span>
            </a>
           <div class="pco">
            My Colleges <!--Add the listed colleges into the place with the nstudenttable and ncollegeslist-->
            {% block colleges %}{% endblock %}
            Colleges: {{ user.college.college_name}}
            {% block addfriends %}{% endblock %}

        </div><!--pco-->
        <!--All the feed data from studentdata ,counselor and messages-->  
        {% block fills %}
        <div class="board">
            <div class="board-inner">
                <ul class="nav nav-tabs" id="myTab" data-tabs="tabs">
                    <li class="active">
                    <a href="#home" data-toggle="tab" title="welcome">
                        <span class="round-tabs one">
                            <i class="fa fa-home"></i>
                        </span>
                    </a></li>

                    <li><a href="#profile" data-toggle="tab" title="profile">
                        <span class="round-tabs two">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    </a></li>

                    <li><a href="#friends" data-toggle="tab" title="friends">
                        <span class="round-tabs three">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                    </span></a>
                    </li>

                    <li><a href="#messages" data-toggle="tab" title="messages">
                        <span class="round-tabs four">
                            <i class="glyphicon glyphicon-comment"></i>
                        </span>
                    </a></li>
                    <li><a href="#settings" data-toggle="tab" title="settings">
                        <span class="round-tabs one">
                            <i class="fa fa-cog fa-spin"></i>
                        </span>
                    </a></li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                <h3 class="text-center" style="color:#f48260;">Counselor feeds</h3>
                {% block feeds %}{%endblock %}

                 </div>
                 <div class="tab-pane" id="profile">
                <h3 class="text-center" style:"color:#f48260">My Profile</h3>                <div style="margin:0 auto;" align="center">
                   {% block profile %}{% endblock %}
                  </div>
                  </div>
                  <div class="tab-pane" id="friends">
                  <h3 class="text-center">Friends</h3>
                      {% block friendcontent %} 
                      {% include 'friendship/friend/friend_request.html'%}
                      <br/><br/>
                      {% include 'friendship/user_actions.html'%}
                      {% endblock %}
                    </div>                                         
               <div class="tab-pane" id="messages">
               <h3 class="text-center"><a href="/messages/">Messages</a></h3>
               {% block messagecontent %}{% include 'django_messages/inbox.html'%}{% endblock %}
                </div>
             <div class="tab-pane" id="settings">
                  <h3 class="text-center">Settings</h3>
                   <div class="col-md-9 well admin-content" id="settings">
                       <div class="row">
                   <div class="col-md-3">
                   <button class="btn btn-small"> <a href = "/password_change/">Change password<i class="fa fa-key fa-fw"></i></a></button>
                   </div>
                   <div class="col-md-3">
                 <button class="btn btn-small"><a href="/privacy_settings/"><i class="fa fa-key fa-fw"></i></a></button>
                      </div>
                  </div><!--row-->
                  <br/><br/>
                  <div class="row">
                      <div class="col-md-3">
                          <button class="btn btn-small"><a href="/changeuserinfo/">Change Email<i class="fa fa-user fa-fw"></i></a></button>
                      </div>
                      <div class="col-md-3">
                      </div>
                  </div><!--row-->
                      </div>
                     {% endblock %}
                     </div>
                   </div>
</div>
{% endblock %}
</div>
</header>
<script type="text/javascript">
$('#myTab a').click(function (e) {
          e.preventDefault()
            $(this).tab('show')
            })
</script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
